fastapi
uvicorn
pydantic
python-dotenv
psycopg2-binary

docling
llama-index-core
llama-index-vector-stores-postgres
llama-index-embeddings-huggingface
llama-index-llms-ollama

crewai
crewai-tools

arize-phoenix
openinference-instrumentation-crewai
openinference-instrumentation-llama-index

ragas
datasets

torch
sentence-transformers
